<div class="profile-container">
  <%= image_tag "profile-background.png", class: "profile-background-img"%>
    <% if @profile.photo.attached? %>
      <%= cl_image_tag @profile.photo.key, class: "avatar-img",
        height: 100, width: 100, radius: 100, crop: :fill, gravity: :face %>
    <% else %>
      <%= "#{@profile.first_name[0]} #{@profile.last_name[0]}"%>
    <% end %>
  <h3>Hi, <%= "#{@profile.first_name} #{@profile.last_name}" %></h3>
<%= link_to "Saved Restaurants", profile_bookmarks_path(@profile), class: "btn btn-dark btn-lg btn-block" %>
<%= link_to "See Reviews", profile_reviews_path(@profile), class: "btn btn-dark btn-lg btn-block" %>
<%= link_to "Edit Profile", edit_profile_path, class: "btn btn-outline-dark btn-lg btn-block" %>
</div>

