<div class="container">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <h3> Results </h3>
      <% @restaurants.each do |restaurant| %>
        <div class="restaurant-grid">
        <%= link_to restaurant_path(restaurant.id) do %>
          <div class="index-restaurant-card">
            <div class="first-restaurant-element">
              <h3><%= restaurant.name %></h3>
              <h3><i class="fas fa-star user-review-star"></i><%= restaurant.ratings %></h3>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore minima consequuntur impedit dicta nostrum.</p>
            <!-- <h4 class="restaurant-address"> € <%= restaurant.address %></h4> -->
          </div>
        <% end %>
        <div class="each-restaurant-img" style="background-image: linear-gradient(to top, transparent, white),url(<%= image_path "index_card_photo.jpeg" %>)"></div>
      </div>
      <% end %>
  </div>
</div>
