<div class="container">
  <div class="col-xs-12 col-md-6 offset-md-3">
    <div class="review-container">
      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :local, as: :radio_buttons, label: :"Are you local or tourist?" , collection: ['Local', 'Tourist'] %>
        <div class="review-rating">

          <h3>Food</h3>
          <%=  f.input :meal_rating, collection: (1..5).to_a, label: false, class: 'review-stars' %>
          <h3>Service</h3>
          <%=  f.input :service_rating, collection: (1..5).to_a, label: false, class: 'review-stars' %>
          <h3>Location</h3>
          <%=  f.input :location_rating, collection: (1..5).to_a, label: false, class: 'review-stars' %>
          <h3>Overall</h3>
          <%=  f.input :rating, collection: (1..5).to_a, label: false, class: 'review-stars' %>
        </div>
<!--           <div class="review-categories">
            <#%= f.input :special_features, as: :check_boxes,
                collection: SPECIAL_FEATURES, input_html: {multiple: :true}, item_wrapper_class: 'custom-checkbox' %>

            <#%= f.input :occasion, as: :check_boxes,
             collection: OCCASSIONS, input_html: {multiple: :true}, item_wrapper_class: 'custom-checkbox' %>
          </div> -->
          <%= f.input :description %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit "Add Review", class: "btn btn-dark" %>
        <% end %>

    </div>
  </div>
</div>




<%#= simple_form_for [@restaurant, @review], url: restaurant_reviews_path, method: :get do |f| %>
  <%#= f.input :name, label: false, input_html: {size:"20",  autofocus: true, placeholder: "Restaurant name"} %>
<%# end %>

