<!DOCTYPE html>
<html>

<head>
  <%= favicon_link_tag %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= meta_title %></title>
  <meta name="description" content="<%= meta_description %>">

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="<%= meta_title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= meta_image %>" />
  <meta property="og:description" content="<%= meta_description %>" />
  <meta property="og:site_name" content="<%= meta_title %>" />

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:title" content="<%= meta_title %>">
  <meta name="twitter:description" content="<%= meta_description %>">
  <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
  <meta name="twitter:image:src" content="<%= meta_image %>">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <script src="https://kit.fontawesome.com/c3607ad32c.js" crossorigin="anonymous"></script>
  <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>

<body>
  <% if controller_name != 'pages' && action_name != 'home' %>
    <%= render 'shared/navbar' %>
  <% end %>
  <%= render 'shared/flashes' %>
  <%= yield %>

<!--   <% if user_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
  <% else %>
  <li>
    <%= link_to('Login', new_user_session_path) %>
  </li>
  <% end %> -->

<!--   <li>
  <%= link_to('Restaurant show', restaurants_path) %>
  </li>
  <li>
  <%= link_to('Restaurant index', restaurants_path) %>
  </li> -->
  <%= javascript_include_tag 'application' %>

  <%= javascript_pack_tag 'application' %>
</body>
</html>
